.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ff7500;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-logo {
  width: 244px;
  height: 20px;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-socials {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-icon {
  fill: #ffffff;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 0px 5px 0px #000000;
  transition: 0.3s;
  align-items: stretch;
  border-radius: 10px;
  flex-direction: column;
  backdrop-filter: blur(20px);
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.26);
  list-style-position: inside;
}
.home-twitter {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  border-radius: 10px;
  background-color: #ff7500;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-text03 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 5px;
  justify-content: center;
}
.home-discord {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 0px;
  justify-content: center;
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #ff7500;
}
.home-text04 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 5px;
  justify-content: center;
}
.home-subber {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.home-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 0px;
  justify-content: center;
}
.home-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  border-radius: 10px;
  background-color: #ff7500;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1;
  border-bottom-right-radius: 1;
}
.home-text05 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 5px;
  justify-content: center;
}
.home-creators {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.home-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text06 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow1 {
  transition: 0.3s;
}
.home-icon02 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.home-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 0px 5px 0px #000000;
  transition: 0.3s;
  align-items: stretch;
  border-radius: 10px;
  flex-direction: column;
  backdrop-filter: blur(20px);
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.26);
  list-style-position: inside;
}
.home-artist-hub {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.home-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.home-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #ff7500;
}
.home-text07 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 5px;
  justify-content: center;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-discord1 {
  width: 200px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.home-discord1:hover {
  color: #292E33;
  box-shadow: 0px 0px 10px 0px #000000;
  background-color: #ff7500;
}
.home-text08 {
  width: 100%;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  border-radius: 10px;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  width: 16px;
  height: 16px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  backdrop-filter: blur(30px);
  justify-content: space-between;
  background-color: #ff7500;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image {
  width: 377px;
  height: 29px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon06 {
  fill: #ffffff;
  width: 50px;
  height: 50px;
}
.home-nav2 {
  flex: 0 0 auto;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-button {
  color: #ff7500;
  width: 400px;
  align-self: center;
  box-shadow: 0px 0px 5px 0px #000000;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  background-color: #292e33;
}
.home-button:hover {
  color: #292e33;
  box-shadow: 0px 0px 10px 0px #000000;
  font-style: normal;
  font-weight: 700;
  background-color: #ff7500;
}
.home-button1 {
  color: #ff7500;
  width: 400px;
  box-shadow: 0px 0px 5px 0px #000000;
  margin-top: 20px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  background-color: #292e33;
}
.home-button1:hover {
  color: #292e33;
  box-shadow: 0px 0px 10px 0px #000000;
  font-style: normal;
  font-weight: 700;
  background-color: #ff7500;
}
.home-button2 {
  color: #ff7500;
  width: 400px;
  box-shadow: 0px 0px 5px 0px #000000;
  margin-top: 20px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  background-color: #292e33;
}
.home-button2:hover {
  color: #292e33;
  box-shadow: 0px 0px 10px 0px #000000;
  font-style: normal;
  font-weight: 700;
  background-color: #ff7500;
}
.home-button3 {
  color: #ff7500;
  width: 400px;
  box-shadow: 0px 0px 5px 0px #000000;
  margin-top: 20px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  background-color: #292e33;
}
.home-button3:hover {
  color: #292e33;
  box-shadow: 0px 0px 10px 0px #000000;
  font-style: normal;
  font-weight: 700;
  background-color: #ff7500;
}
.home-icon-group {
  display: flex;
}
.home-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-intro {
  flex: 0 0 auto;
  width: 100%;
  height: 1000px;
  display: flex;
  margin-top: -2px;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(255, 117, 0) 0.00%,rgba(255, 117, 0, 0) 39.00%),url("/Lazy Sats/lazysatsbannercharacters_notitle-1000h.png");
  background-repeat: auto,cover;
  background-position: center;
}
.home-container03 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image1 {
  width: 1200px;
  object-fit: cover;
}
.home-welcome-collabs {
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 10px 0px #000000;
  align-items: center;
  flex-direction: column;
}
.home-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292e33;
}
.home-container04 {
  flex: 1;
  width: 90%;
  display: flex;
  align-items: flex-start;
}
.home-right {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text11 {
  color: #ffffff;
}
.home-text12 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.home-link4 {
  color: #292e33;
  height: 42px;
  box-shadow: 0px 0px 5px 0px #000000;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ff7500;
}
.home-link4:hover {
  color: #ff7500;
  box-shadow: 0px 0px 10px 0px #ff7500;
  background-color: #292e33;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 90%;
  height: 200px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 0px;
  background-size: contain;
  background-image: url("/Lazy Sats/collage%202-1400w.png");
  background-repeat: repeat;
}
.home-collaborate {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292e33;
}
.home-container07 {
  flex: 1;
  width: 90%;
  display: flex;
  align-items: flex-start;
}
.home-left {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  margin-top: 100px;
  align-items: flex-start;
  margin-bottom: 100px;
  flex-direction: column;
}
.home-text18 {
  color: #ffffff;
}
.home-text19 {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}
.home-link5 {
  color: rgb(41, 46, 51);
  height: 42px;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(255, 117, 0);
}
.home-link5:hover {
  color: #ff7500;
  box-shadow: 0px 0px 10px 0px #ff7500;
  background-color: #292e33;
}
.home-right1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  margin-top: 50px;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}
.home-image2 {
  width: 10%;
  box-shadow: 0px 0px 5px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
.home-image2:hover {
  width: 350px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.home-image3 {
  width: 10%;
  box-shadow: 0px 0px 5px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
.home-image3:hover {
  width: 350px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.home-image4 {
  width: 10%;
  box-shadow: 0px 0px 5px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
.home-image4:hover {
  width: 350px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.home-image5 {
  width: 10%;
  box-shadow: 0px 0px 5px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
.home-image5:hover {
  width: 350px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.home-image6 {
  width: 10%;
  box-shadow: 0px 0px 5px 0px #000000;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}
.home-image6:hover {
  width: 350px;
  box-shadow: 0px 0px 10px 0px #000000;
}
.home-container09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container10 {
  flex: 0;
  width: 100%;
  bottom: 50px;
  display: flex;
  position: fixed;
  max-width: 1500px;
  align-items: center;
  flex-direction: column;
}
.home-social-bar {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: 48px;
  justify-content: center;
}
@media(max-width: 991px) {
  .home-image {
    width: 262px;
    height: 20px;
  }
  .home-intro {
    height: 489px;
  }
  .home-image1 {
    width: 800px;
  }
  .home-container08 {
    height: 200px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-image {
    width: 169px;
    height: 14px;
  }
  .home-icon06 {
    width: 24px;
    height: 24px;
  }
  .home-button {
    width: 80%;
  }
  .home-button1 {
    width: 80%;
  }
  .home-button2 {
    width: 80%;
  }
  .home-button3 {
    width: 80%;
  }
  .home-intro {
    height: 347px;
    background-size: cover;
  }
  .home-image1 {
    width: 400px;
  }
  .home-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
